@using BillPayerCore.DataModels
@model IEnumerable<HouseHold>
@{
    ViewBag.Title = "Houses";
}

@Html.ActionLink("Create House", "Create", "House")
@using (Html.BeginForm("Index", "House", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
foreach (var house in Model)

{

<body background="">

    <div class="row">
        <div class="col-md-4">
            House Id: @house.Id
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Details", "Details", new { id = house.Id })
           
          @Html.ActionLink("Join House", "JoinHouse", new { id = house.Id })
        </div>

    </div>
    }

   
a
<div class="row">
    <div class="jumbotron">
		<div class="container">
			<h1><center> Welcome to Billsplit</center></h1>
		
		</div>
    </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Ellen_H._Swallow_Richards_House_Boston_MA_01.jpg" alt="House" class="img-circle"  height="144" width="177">
      <div id="textbox">
		<p style="text-align:left;">Houses
		<span style="float:right;">Log in</span></p>
		<p><a href="#" class="btn btn-primary" role="Houses"><p style="text-align:left;">House Search</a>
		<a href="#" class="btn btn-primary" role="Log In"><span style="float:right;">Log In</span></a> </p>
			
      </div>
    </div>
  </div>
</div>


<body>

	
	
	