@using BillPayerCore.DataModels
@model IEnumerable<HouseHold>
@{
    ViewBag.Title = "Houses";
}

@Html.ActionLink("Create House", "Create", "House")
@using (Html.BeginForm("Index", "House", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
foreach (var house in Model)

{

<body background="">

    <div class="row">
        <div class="col-md-4">
            House Id: @house.Id
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Details", "Details", new { id = house.Id })
           
          @Html.ActionLink("Join House", "JoinHouse", new { id = house.Id })
        </div>

    </div>
    }

   
a
<div class="row">
    <div class="jumbotron">
		<div class="container">
			<h1>House/Condos/Apartments.</h1>
		
		</div>
    </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Ellen_H._Swallow_Richards_House_Boston_MA_01.jpg" alt="House" class="img-circle"  height="144" width="177">
      <div class="caption">
        <h3>Houses</h3>
        <p>Great sizes for all and enjoy bigger kitchens and bathrooms. </p>
		<p>Great for those who are just looking for a little bit of</p>
		<p>space for the right price.</p>
        <p><a href="#" class="btn btn-primary" role="button">House Search</a> 
      </div>
    </div>
  </div>
</div>


<body>

	
	
	