@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Members</p>
<p>Matthew Williams</p>
<p>Judah Perez - Programmer</p>

<p>Robert Fleury</p>

<p>Preston Richie - Richie Rich</p>
<p>Joshua Cantero</p>
<p>Vihn Vu</p>





