@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        I accidently deleted this front page. Help, I can't things
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/content/images/bills.jpg")" width="200px">
    </div>
</div>


<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h1> Welcome to Billsplit</h1>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Ellen_H._Swallow_Richards_House_Boston_MA_01.jpg" alt="House" class="img-circle" height="144" width="177">
            <div id="textbox">
                <p style="text-align: left;">
                    Houses
                    <span style="float: right;">Log in</span>
                </p>

                    <a href="#" class="btn btn-primary" role="Houses"> House Search</a>
                
                    <a href="#" class="btn btn-primary" role="Log In" style="float: right;"><span>Log In</span></a>

            </div>
        </div>
    </div>
</div>
