@{
    ViewBag.Title = "Home Page";
}




<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h1> Welcome to Billsplit</h1>
            <a href="#" class="btn btn-primary" role="Log In" style="float: left;"><span>Log In</span></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Ellen_H._Swallow_Richards_House_Boston_MA_01.jpg" alt="House" class="img-circle" height="144" width="177">
                <div id="textbox">
                    <a href="#" class="btn btn-primary" role="Houses"> House Search</a>
                </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Normal_School_-_outside_mall.JPG" alt="House" class="img-circle" height="144" width="177">
            <div id="textbox">
                <a href="#" class="btn btn-primary" role="Condo Search"> Condo Search</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/John_Crowe_Ransom_1941.jpg" alt="roomate" class="img-circle" height="144" width="177">
            <div id="textbox">
                <a href="#" class="btn btn-primary" role="other"> Roomate Search</a>
            </div>
        </div>
    </div>
</div>
