@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        I accidently deleted this front page. Help, I can't things
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/content/images/bills.jpg")" width="200px">
    </div>
</div>
